/*------------------------------------*\
    $custom variable
\*------------------------------------*/

$color-lighten-primary:(
    100: lighten($primary, 0%),
    85: lighten($primary, 15%),
    50: lighten($primary, 50%),
    25: lighten($primary, 75%),
    10: lighten($primary, 90%),
);

$color-darken-primary: (
    100: darken($primary, 0%),
    85: darken($primary, 15%),
    50: darken($primary, 50%),
    25: darken($primary, 75%),
    10: darken($primary, 90%),
);


$color-lighten-secondary: (
    100: lighten($secondary, 0%),
    85: lighten($secondary, 15%),
    50: lighten($secondary, 50%),
    25: lighten($secondary, 75%),
    10: lighten($secondary, 90%),
);

$color-lighten-black: (
    100: lighten($black, 0%),
    85: lighten($black, 15%),
    50: lighten($black, 50%),
    25: lighten($black, 75%),
    10: lighten($black, 90%),
);

$color-darken-white: (
    100: darken($white, 0%),
    87: darken($white, 13%),
    60: darken($white, 40%),
    38: darken($white, 62%),
    0: darken($white, 100%),
);


$font-weight-value: (
    thin: 100,
    light: 300,
    normal: 400,
    medium: 500,
    bold: 700,
    black: 900,
);


$font-size: (
  0: $font-size-base * 0,
  1: $font-size-base * 2.5,
  2: $font-size-base * 2,
  3: $font-size-base * 1.75,
  4: $font-size-base * 1.5,
  5: $font-size-base * 1.25,
  6: $font-size-base * 1,
);

$color-font-base: #650300;
$color-font-banner-bgText: $white;
$color-font-banner-title: $white;
$color-font-btn: #ffffff;
$color-font-product-series: map-get($color-lighten-primary, 100);


$color-border-base: #000000;
$color-border-produce-num: map-get($color-lighten-black, 25);



$color-bgc-input: #fbf2f2;
$color-bgc-prooduct-item: map-get($color-darken-white, 100);
$color-bgc-produce-value: map-get($color-lighten-black, 10);




$font-family-base: 'Noto Sans TC', sans-serif;
$font-family-English: 'Roboto', sans-serif;

