/*------------------------------------*\
    $utils
\*------------------------------------*/

// container
.container-auto{
  max-width: 1320px;
  padding: 0 $spacer * .75;
  margin: 0 auto;
  @include pad{
    max-width: 720px;
    padding: 0 $spacer * 1.5;
  }
  @include mobile{
    max-width: 375px;
    padding: 0 $spacer * 1.5;
  }
}

// color-black-opacity
@each $key,$value in $color-lighten-black{
  .color--black--#{$key}{
    color: $value;
  }
}

// color-primary-opacity
@each $key, $value in $color-lighten-primary {
  .color--primary--#{$key} {
    color: $value;
  }
}

// color-secondary-opacity
@each $key, $value in $color-lighten-secondary{
  .bg--secondary--#{$key} {
    background-color: $value;
  }
}

// font-weight
@each $key, $value in $font-weight-value {
  .fw--#{$key} {
    font-weight: $value;
  }
}

// text-color
@each $key, $value in $theme-colors {
  .text--#{$key} {
    color: $value;
  }
}

// bg-color
@each $key, $value in $theme-colors {
  .bg--#{$key} {
    background-color: $value;
  }
}


.bg-transparent {
  background-color: transparent;
}

.btn .btn-primary{
  color: #ffffff;
}